:root {
  --cor-verde: #218052;
  --cor-cinza: #333;
}

.CartList {
  padding: 20px;
  width: 45%;
  height: 95vh;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: var(--cor-verde);
  margin-right: 15px;
  margin-top: 15px;
  color: whitesmoke;
  float: right;
}

.CartList h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.CartList table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

.CartList th,
.CartList td {
  padding: 8px;
  border: 1px solid var(--cor-cinza);
}

.CartList th {
  background-color: var(--cor-cinza);
  color: whitesmoke;
  font-weight: bold;
}

.CartList ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.CartList li {
  margin-bottom: 8px;
  font-size: 16px;
}

.CartList li strong {
  font-weight: bold;
}

.CartList ul ul {
  margin-left: 20px;
}

.CartList tfoot {
  background-color: var(--cor-cinza);
  color: whitesmoke;
  font-weight: bold;
}
