:root {
    --cor-verde: #218052;
    --cor-cinza: #333;
  }
  
.ProductList {
    padding: 20px;
    width: 45%;
    height: 95vh;
    border: 1px solid #333;
    border-radius: 5px;
    background-color: var(--cor-verde);
    margin-left: 15px;
    margin-top: 15px;
    color: whitesmoke;
    float: left;
    overflow: auto;
  }
  
.ProductList h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.ProductList table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
  
.ProductList th,
.ProductList td {
    padding: 8px;
    border: 1px solid var(--cor-cinza);
}
  
.ProductList th {
    background-color: var(--cor-cinza);
    color: whitesmoke;
    font-weight: bold;
}

.ProductList::-webkit-scrollbar {
    width: 5px;
}
  
.ProductList::-webkit-scrollbar-track {
    background: transparent;
}
  
.ProductList::-webkit-scrollbar-thumb {
    background-color: var(--cor-cinza);
    border-radius: 5px;
}
  
.ProductList::-webkit-scrollbar-thumb:horizontal {
    background-color: var(--cor-verde);
}
  
.ProductList::-webkit-scrollbar-corner {
    background: var(--cor-cinza);
}